<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name = "Mainsuite" parallel="tests" thread-count="2">
<!--<parameter name = "url" value ="https://www.automationexercise.com/"/>
	<parameter name = "browser" value = "chrome"/>-->

	 <!-- <test name ="Registeruser">
		<classes>
			<class name ="testcases.RegisterNLoginTests"/>
		</classes>
	</test> -->  
	
	 <test name ="LoginLogoutUser">
		<classes>
			<class name ="testcases.LoginLogoutTests"/>
		</classes>
	</test> 
	
	 
	  <test name ="ContactUsForm">
		<classes>
			<class name ="testcases.ContactUsTests"/>
		</classes>
	</test>  
	
	 <!-- <test name ="TestcasePage">
		<classes>
			<class name ="testcases.TestCasePageTests"/>
		</classes>
	</test>   -->
	<!-- 
	 <test name ="Product Testing">
		<classes>
			<class name ="testcases.ProductTests"/>
		</classes>
	</test>  -->
	
	<!-- <test name ="Subscription Testing">
		<classes>
			<class name ="testcases.SubscriptionTests"/>
		</classes>
	</test> --> 
	 
	 <!--  <test name ="Cart Testing">
		<classes>
			<class name ="testcases.CartTests"/>
		</classes>
	</test>  -->
	
	
	 <!-- <test name ="Checkout Testing">
		<classes>
			<class name ="testcases.CheckoutTests"/>
		</classes>
	</test>  -->
	
	<!-- <test name ="Category Testing">
		<classes>
			<class name ="testcases.CategoryTests"/>
		</classes>
	</test>  -->
	
	<!-- <test name ="Brand Testing">
		<classes>
			<class name ="testcases.BrandTests"/>
		</classes>
	</test> --> 
	
	<!-- <test name ="AddSearchedProductsToCart_Login Testing">
		<classes>
			<class name ="testcases.SearchProductsTests"/>
		</classes>
	</test>  -->
	
	
</suite>